* {
  margin: 0;
  padding: 0;
}

.registration-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  animation: fadeIn 0.5s;
}

.registration-form,
.contact-info {
  flex: 1;
  margin: 10px;
  padding: 20px;

  border-radius: 10px;
  background-color: #f9f9f900;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.664);
  animation: slideIn 0.5s;
}

.registration-form h1,
.contact-info h2 {
  color: #00a105;
}

.registration-form input,
.registration-form textarea {
  width: 600px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration-form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #45a049;
}

.website-links {
  display: flex;
  justify-content: space-between;
}

.website-links a {
  color: #4caf50;
  text-decoration: none;
  transition: color 0.3s;
}

.website-links a:hover {
  color: #388e3c;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
