* {
  margin: 0;
  padding: 0;
}
.departpage {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 25px;
}
.clinic {
  position: relative;
  top: -65px;
  font-size: 45px;
}
.wore {
  opacity: 0.8;
}
.departimage {
  height: 550px;
}


.departpage2 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
}
.clinic2 {
  position: relative;
  top: -65px;
  font-size: 45px;
}
.wore2 {
  opacity: 0.8;
}
.departimage2 {
  height: 550px;
}


.slider {
  position: relative;
  width: 100%; /* Sliderning kengligi */
  height: 600px; /* Sliderning balandligi */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease; /* Chiqish va kirish animatsiyasi */
}

.slide.active {
  opacity: 1; /* Faqat aktiv slide ko'rinadi */
}

.text {
  position: absolute;
  bottom: 10px; /* So'zlar uchun joylashuv */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px; /* So'zlarning o'lchami */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* So'zlar uchun soyalar */
}
