* {
  margin: 0;
  padding: 0;
}
.ved{
  background-color: rgb(37, 11, 44);
  border-radius: 0px 900px;
}
.video-container {
  display: flex;
  justify-content: center;
  padding: 150px;
  gap: 30px;

}
.video {
  width: 300px;
  height: 190px;
  border: 5px solid transparent;
  transition: border-color 0.3s;
  border-radius: 10px;
  border: 1px solid rgb(75, 75, 75);
}
.video-container .video:hover {
  border-color: rgb(56, 56, 56);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.675);
}
.video-container .video:hover {
  animation: playVideo 1s forwards;
}
@keyframes playVideo {
  from {
    border-color: transparent;
  }
  to {
    border-color: rgb(91, 89, 89);
  }
}

.video:not(:hover) {
  animation: pauseVideo 1s forwards;
}

@keyframes pauseVideo {
  from {
    border-color: rgb(92, 92, 92);
  }
  to {
    border-color: transparent;
  }
}

.video {
  position: relative;
}

.video:hover {
  animation: playVideo 1s forwards;
}

.video:not(:hover) {
  animation: pauseVideo 1s forwards;
}

.video {
  display: block;
}
