* {
  margin: 0;
  padding: 0;
}

.swiper {
  position: relative;
  width: 99.9%;
  height: 500px;
  overflow: hidden;
  border: 1px solid rgb(129, 51, 153);
  box-shadow: 0px 0px 10px 5px rgb(210, 4, 210);
}

.swiper-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}

.swiper-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.swiper-buttons button {
  padding: 10px;
  border: none;
  background-color: rgb(221, 0, 255);
  cursor: pointer;
}

.swiper-buttons button.active {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.teampage2 {
  display: flex;
  align-items: center;
  padding: 40px 50px;
  justify-content: center;
  gap: 10px;
  color: rgb(0, 0, 0);
  background-color: rgba(42, 0, 53, 0.936);
  border-radius: 0px 900px;
  color: #ebebeb;
}

.kl {
  display: flex;
  align-items: center;
  gap: 50px;
}
.sertifikat {
  width: 130px;
  box-shadow: 0px 0px 10px;
  cursor: pointer;
}
.teampage3 {
  width: 100%;
  height: 100%;
  background-color: rgba(42, 0, 53, 0.936);
  border-radius: 0px 900px;
  color: #ebebeb;
}

.skills-container {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.skill {
  margin-bottom: 20px;
}

.skill-name {
  font-weight: bold;
}

.skill-bar {
  background-color: #8b018d;
  border-radius: 5px;
  position: relative;
  height: 25px;
  width: 100%;
}

.skill-percentage {
  background-color: #ff00bf;
  height: 100%;
  text-align: right;
  padding-right: 10px;
  line-height: 25px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.three-divs-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.div-box {
  background-color: #f4f4f43a;
  padding: 20px;
  border: 1px solid #cccccc1c;
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top-section {
  display: flex;
  align-items: center;
}

.small-image {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

h2 {
  margin: 0;
  font-size: 18px;
}

p {
  margin: 0;
}

.number {
  display: block;
  font-weight: bold;
  margin-top: 5px;
}

.bottom-section {
  margin-top: 20px;
}


.co {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 95px; 
}

.boxy {
  width: 250px;
  height: 220px;
  padding: 20px;
  margin: 10px;
  background-color: #6a046846;
  border-radius: 0px 100px 0px 0px;
  box-shadow: 0px 0px 30px 8px #6a0468;
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.box-contentt {
  width: 150px;
  height: 150px;
  background: rgba(37, 35, 35, 0);
  border-radius: 0px 70px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s;
}

.boxy:hover .box-contentt {
  transform: rotateY(180deg);
}

.boxo-image {
  width: 100%;
  height: 140px;
  border-radius: 0px 100px 0px 0px;
}

h4 {
  margin: 10px 0;
}

.modal-button {
  margin-top: 20px;
  padding: 10px 10px;
  background-color: #53015b;
  color: white;
  border: none;
  border-radius:10px 50px 0px 0px;

  cursor: pointer;
}

.modal-button:hover {
  background-color: #ea00ff;
  box-shadow: 0px 0px 10px 5px #89008e;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-image {
  width: 100%;
  border-radius: 10px;
}

h2 {
  margin: 15px 0;
}

.close-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #630059;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #ea00ff;
  box-shadow: 0px 0px 10px 5px #89008e;
}