* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: auto;
  background-size: cover;
  /* border: 1px solid rgb(47, 255, 0); */
  box-shadow: 0px 0px 20px 5px rgb(242, 0, 255);
  opacity: 2;
  background-color: #121212;
  background-size: cover;
  color: #e0e0e0;
}
.logo {
  width: 50px;
}
.navbar1 {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00000000;
}
.lgh {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 50px;
  color: #d0d0d0;
}
.Navbar {
  position: fixed;
  z-index: 100;
  width: 1300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 105px;
  padding: 40px 50px;
  background: #0d0d0d;
  box-shadow: 0 0 20px rgba(145, 3, 160, 0.384);
}

.menu {
  display: flex;
  list-style: none;
  gap: 50px;
}
.menu li a {
  color: #ffffff;
  text-decoration: none;
  line-height: 1.5;
  opacity: 0.5;
}
.menu li a:hover {
  transition: all 0.3s;
  opacity: 1;
  color: #ffffff;
}
.website {
  display: flex;
  gap: 35px;
  width: 300px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 0px 700px;
}
.yt {
  width: 25px;
  display: flex;
}
.in {
  width: 20px;
}
.mag {
  width: 25px;
}
.tg {
  width: 25px;
}
.op {
  display: flex;
  gap: 15px;
  color: rgb(0, 0, 0);
}
.email {
  display: flex;
  gap: 10px;
  padding: 0px 70px;
}
.em {
  width: 19px;
}
.ema {
  color: rgb(0, 0, 0);
}
.opr {
  width: 19px;
}

.restr{
  display: flex;
  gap: 15px;
}
.close {
  color: #88009d;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: rgb(255, 0, 251);
  text-decoration: none;
  cursor: pointer;
}
.emi{
  width: 80%;
  height: 20px;
  background-color: #000000;
  border: 0;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
button {
  margin-top: 10px;
  background-color: #84008e;
  cursor: pointer;
  color: rgb(211, 211, 211);
  padding: 5px 17px;
  transition: all 0.4s;
}
button:hover {
  background-color: #ee00ff;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
/* fbjsnsjnsnsns */
.boxes-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
}

.box {
  width: 250px;
  height: 260px;
  padding: 20px;
  margin: 10px;
  background-color: #6a046846;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 8px #6a0468;
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.box:hover {
  transform: translateY(-30px);
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

p {
  font-size: 14px;
  margin-bottom: 5px;
}

.box-button {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 15px 150px;
  border-radius: 7px;
  cursor: pointer;
  transition: bottom 0.3s ease-in-out;
}

.box:hover .box-button {
  bottom: 10px;
  background-color: #69006d;
  border: 2px solid #f700ff;
  box-shadow: 0px 0px 20px 5px #69006d;
}

.middle {
  background-color: rgb(37, 11, 44);
  border-radius: 900px 0px;
}
.middlepage {
  text-align: center;
  padding: 70px;
  font-size: 25px;
}
.middlepageicons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  padding: 75px 420px;
  gap: 180px;
}
.middleicons {
  width: 95px;
}

.conta {
  background-image: url(/public/back2.jpg);
  background-size: cover;
}
.secondpage {
  position: relative;
  left: -400px;
  padding: 80px;
  text-align: center;
}
.allk {
  position: relative;
  left: -90px;
  font-size: 55px;
  color: white;
}
.ofd {
  position: relative;
  left: -42px;
  font-size: 55px;
  color: white;
}
.lo {
  position: relative;
  left: -88px;
  font-size: 15px;
  color: white;
}
.lo1 {
  position: relative;
  left: -38px;
  font-size: 15px;
  color: white;
}
.btc {
  position: relative;
  padding: 10px;
  left: -93px;
  border: 0px;
  background-color: rgb(37, 11, 44);
  border-radius: 25px;
  position: relative;
  font-size: 0.9375rem;
  color: #ffffff;
  transition: all 0.3s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}
.btc:hover {
  letter-spacing: 0.25rem;
  background-color: #480244;
  box-shadow: 0px 0px 35px rgb(0, 0, 0);
  color: white;
}
.cube {
  position: relative;
  left: -170px;
  padding: 150px;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(0);
  animation: spin 10s infinite linear;
}

.face {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #ffffff;
  width: 200px;
  height: 200px;
  background-color: rgb(39, 0, 49);
  border: 2px solid rgb(200, 0, 255);
  box-shadow: 0px 5px 10px rgb(200, 0, 255);
  opacity: 0.8;
}

.front {
  transform: rotateY(0deg) translateZ(100px);
}
.back {
  transform: rotateY(180deg) translateZ(100px);
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
}
.right {
  transform: rotateY(90deg) translateZ(100px);
}
.top {
  transform: rotateX(90deg) translateZ(100px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes spin {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.focus {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 11, 44);
  border-radius: 0px 900px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #0d0d0d;
  border-radius: 150px 150px 0px 0px;
  border: 3px solid rgb(37, 11, 44);
  box-shadow: 0px 0px 25px rgba(144, 3, 160, 0.76);
  color: white;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 30px 100px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-right p {
  margin: 5px 0;
}

.footer-right input {
  padding: 10px;
  margin: 10px 0;
  width: 300px;
  border-radius: 10px;
  background-color: #550051;
  color: white;
  border: 1px solid black;
}

.footer-right button {
  padding: 10px 20px;
  background-color: #27002e;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.footer-right button:hover {
  background-color: #c300d1;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px #d900ff;
}

.cn {
  font-size: 30px;
  color: #fff;
  padding: 10px;
}
.sa {
  color: #fff;
}
.pl {
  color: #fff;
}
.copy {
  color: white;
  position: relative;
  left: 60px;
  top: 70px;
}
.mess{
  text-align: center;
}
.messinput{
  width: 250px;
  height: 25px;
  position: relative;
  left: 450px;
  border: 0;
  background-color: #000000;
  color: white;
  box-shadow: 0px 0px 5px 2px #b403b1;
  padding: 10px;
}
.messinputt{
  width: 500px;
  height: 100px;
  position: relative;
  left: 450px;
  border: 0;
  background-color: #000000;
  color: white;
  box-shadow: 0px 0px 5px 2px #b403b1;
  padding: 10px;
}